<H1>Order Placed {order.date} {order.time}</H1>
<br/>
<h2>Items Ordered</h2>
<table>
{?:[order_items]}
    <tr>
        <td>
            {description}
        </td>
        <td>
            x {quantity}
        </td>
        <td>
            {global.currencySymbol}{price} 
        </td>
    </tr>
{:?}
<tr>
    <td></td>
    <td>Total:</td>
    <td>{global.currencySymbol}{order.total}</td>
</tr>
<tr>
    <td></td>
    <td></td>
    <td>
        <form id="orderViewReorder" action = "order/reorder" >
            <input type="hidden" name="_method"  value="POST"/>
            <input type="hidden" name="order_id" value="{order.order_id}" />
            <input class="goToCartImage" type="image" src="public/go-to-checkout.svg" alt="Make this order again"/><br/>
            <a href="order/reorder?order_id={order.order_id}">Make the same order again</a>
        </form>
    </td>
</tr>
</table>

(Order #:{order.order_id})

