{?:menu[]}{menu[]}{:else:}
 <h1>{description}</h1>
    <img class="menuViewImage" src="{image_url}" alt="{description}" />
    <form id="menuListAdd" action="/api/cart" method="post">
        {global.currencySymbol}{price}
        <input class="menuAddToCartImage" type="image"  src="/public/add-to-cart.svg" alt="Add to cart" />
        <input type="hidden" name="id"  value= "{id}" />
        <input type="hidden" name="quantity" value= "1" />
    </form>
    <form id="menuListEdit" action="/api/menu" method="post">
        <input class="menuAddToCartImage" type="image"  src="/public/edit-button.svg" alt="Edit" />
        <input type="hidden" name="id"  value= "{id}" />
        <input type="hidden" name="quantity" value= "1" />
    </form>

{:?}