<table>
<tr class="menuRow{_meta.indexOddEven}">
    <td>
        <form id="menuView_{id}" action="/menu/view?id={id}" method="get">
            <input class="menuImage" type="image" src="{image_url}" alt="{description}" />
            <input type="hidden" name="id"  value= "{id}" />
            <input type="hidden" name="quantity" value= "1" />
        </form>
    </td>
    <td id="desc_{id}">
    {description}
    </td>
    <td id="price_{id}">
        <form id="menuAdd_{id}" action="/api/cart" method="post">
            {global.currencySymbol}{price}
            <input class="menuAddToCartImage" type="image"  src="/public/add-to-cart.svg" alt="Add to cart" />
            <input type="hidden" name="id"  value= "{id}" />
            <input type="hidden" name="quantity" value= "1" />
        </form>
    </td>
    
</tr>
</table>