                <h1>Edit Your Account Details</h1>
                
                <div class="formWrapper">
                  <form id="accountEdit" action="/api/user">
                    <input type="hidden" name="_method" value="PUT" />
                    <div class="formSuccess">Your changes have been saved.</div>
                    <div class="formError"></div>
                    <div class="inputWrapper">
                      <div class="inputLabel">Full Name</div>
                      <input type="text" name="name" placeholder="John Smith" value="{user.name}"/>
                    </div>
                    <div class="inputWrapper">
                      <div class="inputLabel">Email</div>
                      <input type="text" name="email" placeholder="user@domain.com" value="{user.email}"/>
                    </div>
                    <div class="inputWrapper">
                      <div class="inputLabel">Choose a new Password</div>
                      <input type="password" name="password" placeholder="Make it a good one!" />
                    </div>
                    <div class="inputWrapper ctaWrapper">
                      <button type="submit" class="cta green">Update</button>
                    </div>
                    <img class="formBusy" src="public/loading.gif" alt="logging in...">
                  </form>
                </div>
