<h1>Shopping Cart</h1>
<table>
    <tr>
        <th>Picture</th><th>Description</th><th>Price</th><th>Quantity</th>
    </tr>
    {?:cart[]}{cart[]}{:else:}
    <tr class="menuRow{_meta.indexOddEven}">
        <td>
            <img class="menuImage" id="img_{id}" src="{image_url}" alt="{description}"\>
        </td>
        <td id="desc_{id}">{description}</td>
        <td id="price_{id}">{price}</td>
        <td id="quantity_{id}">
            <form id="cartQuantity_{id}" action = "api/cart" >
                <input type="hidden" name="_method" value="PUT"/>
                <input type="hidden" name="id" value="{id}"/>
                <input class="cartQuantity" type="text" name="quantity" value="{quantity}"/>
            </form>
            <form id="cartDelete_{id}" action = "api/cart" >
                <input type="hidden" name="_method" value="DELETE"/>
                <input type="hidden" name="id" value="{id}"/>
                <input class="cartDeleteImage" type="image" src="public/trash.png" alt="Remove item(s) from cart"/>
            </form>
        </td>
    </tr>
    {:?}
</table>