<h1>Shopping Cart</h1>
<table>
    <tr>
        <th>Picture</th><th>Description</th><th>Price</th><th>Quantity</th><th>Subtotal</th>
    </tr>
    {?:cart[]}{cart[]}{:else:}
    <tr class="menuRow{_meta.indexOddEven}">
        <td>
            <img class="menuImage" id="img_{id}" src="{image_url}" alt="{description}"\>
        </td>
        <td id="desc_{id}">{description}</td>
        <td id="price_{id}">{global.currencySymbol}{price}</td>
        <td id="quantity_{id}">
            <div class=cartButtons>
            
            <form id="cartViewAdd_{id}" action = "api/cart" >
                <input type="hidden" name="_method" value="POST"/>
                <input type="hidden" name="id" value="{id}"/>
                <input type="hidden" name="quantity" value="1"/>
                <input class="cartPlus" type="submit" value="+"/>
            </form>
            
            <form id="cartViewQuantity_{id}" action = "api/cart">
                <input type="hidden" name="_method" value="PUT"/>
                <input type="hidden" name="id" value="{id}"/>
                <input class="cartQuantity" type="text" name="quantity" id="edit_quantity_{id}" value="{quantity}"/>
                <!-- input class="cartQuantityBtn" type="submit" value="update"/-->
            </form>
            
            <form id="cartViewSubtract_{id}" action = "api/cart" >
                <input type="hidden" name="_method" value="POST"/>
                <input type="hidden" name="id" value="{id}"/>
                <input type="hidden" name="quantity" value="-1"/>
                <input class="cartMinus" type="submit" value="-"/>
            </form>
            
            <form id="cartViewDelete_{id}" action = "api/cart" >
                <input type="hidden" name="_method" value="DELETE"/>
                <input type="hidden" name="id" value="{id}"/>
                <input class="cartDeleteImage" type="image" src="public/trash.svg" alt="Remove item(s) from cart"/>
            </form>
            
            </div>
        </td>
        <td id="subtotal_{id}">{global.currencySymbol}{subtotal}</td>
    </tr>
    {:?}
    <tr>
        <th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>Total</th>
    </tr>
    <tr>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td id="cartViewTotal">{global.currencySymbol}{cart.total}</td>
    </tr>
    <tr>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        <td><a href="api/checkout">Checkout</a></td>
        <td>
            <form id="cartViewGotoCheckout" action = "api/checkout" >
                <input type="hidden" name="_method" value="POST"/>
                <input class="goToCartImage" type="image" src="public/go-to-checkout.svg" alt="Remove item(s) from cart"/>
            </form>
        </td>
    </tr>
</table>



